h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
    padding: 8px;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

.content * {
    margin: 10px;
}

mat-progress-spinner {
    border-radius: 100%;
    background-color: aliceblue;
}

.timer-container {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}

.toggleIcon {
    padding-top: -16px;
}

.button-icon {
    position: relative;
    top: -78px;
    left: 21px;
}

.button-progress {
    height: 100px;
}

.button-progress * {
    margin: 0px;
}